/* Yixin CSS 
   Designed by Yixin*/

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #000000;
	background-color:#87CEEB;	  
}
*
{
	margin: 0 auto 0 auto;
	text-align:left;
}

ul{
	color:#FFFFFF;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li{
	display: inline;
	text-align: center;
}

.NavigationLink{
	text-align:center;
	position:relative;
	font-family: "Electrolize",sans-serif;
	font-size:40px;
	text-transform:uppercase;
    line-height:80px;
    margin-left:0px;
}

.NavigationLink a{
	color:#FFFFFF;
	text-decoration:none;
	line-height:normal;
	padding: 20px;
}

.NavigationLink a:hover{
	text-align:center;
	text-decoration:none;
	background-color: #FFFFFF;
	line-height:normal;
	color:#87CEEB;
	-webkit-transition:color .2s linear;
}

#mainPicture{
	width: 1374px;
	height: 631px;
	background-color: #FFFFFF;
}

#mainPicture .picture1{
	top:5px;
	position:relative;
	width:1364px;
	height:621px;
	background-color:#000000;
	background-image:url(img/111.png);
	background-repeat:no-repeat;
	margin-left:5px;
}

#mainPicture .picture2{
	top:5px;
	position:relative;
	width:1364px;
	height:621px;
	background-color:#000000;
	background-image:url(img/library1.jpg);
	background-repeat:no-repeat;
	margin-left:5px;
}

#mainPicture .picture3{
	top:5px;
	position:relative;
	width:1364px;
	height:621px;
	background-color:#000000;
	background-image:url(img/Niagara_falls.png);
	background-repeat:no-repeat;
	margin-left:5px;
}

#mainPicture .picture4{
	top:5px;
	position:relative;
	width:1364px;
	height:621px;
	background-color:#000000;
	background-image:url(img/dog.png);
	background-repeat:no-repeat;
	margin-left:5px;
}

#headerTitle{
	position:relative;
	float:left;
	top:0px;
	left:50px;
	font-size:65px;
	color:#483D8B;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerTitle a{
	display: block;
	text-decoration:none;
}

#headerSubtext{
	position:relative;
	top:30px;
	left:65px;
	font-size:35px;
	color:#A9C8FA;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerBox{
	background-color: #FFFFFF;
	width:auto;
	height:85px;
	margin-left:0px;	
}

.contentBox{
	background-color:#FFFFFF;
	width:1374px;
	height:auto;
}

.contentBox .innerBox{
	background-image:url(img/content_back.png);
	background-repeat:repeat-x;
	position:relative;
	width:1362px;
	height:auto;
	margin-left:5px;
	top:5px;
	padding-bottom:35px;
}

.imgTitle{
	position:relative;
	color:white;
	top:500px;
	left:1050px;
	font-size:25px;
}

.contentTitle{
	position:relative;
	color:black;
	font-size:37px;
	margin-bottom:0px;
	font-family:"Courier New"
	font-style: italic;
	padding-top:5px;
	margin-left:15px;
	margin-top:15px;
}

.contentText{
	color:black;
	font-size:25px;
	font-family:"Book Antiqua";
	line-height:34px;
	margin-left:13px;
	margin-right:13px;
}

.img{
	margin: 5px;
	padding: 5px;
	/*border: 1px solid #ffffff;*/
	height: auto;
	weight: auto;
	float: left;
}

.img img{
	display: inline;
	margin: 5px;
	border: 1px solid #000000;
}

.img a: hover img{
	border: 1px solid #0C61C9;
}

.desc{
	text-align: center;
	font-weight: normal;
	width: 200px;
	margin: 5px;
}

.video{
	text-align:center;
}
